streamlit
pandas
numpy
scikit-learn
matplotlib
plotly
nltk
requests
beautifulsoup4
lxml
markdown
markdown-it-py
pymdown-extensions
PyYAML
kaggle
streamlit-card
streamlit-extras
streamlit-embedcode
streamlit-faker
streamlit-image-coordinates
streamlit-toggle-switch
streamlit-keyup
streamlit-vertical-slider
